@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montaga&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

.bg-img{
    background: url(https://t4.ftcdn.net/jpg/03/08/40/43/360_F_308404381_LqyMIXDPOR6Ut1TqE2cJRQdxomGsQegc.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 95vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    font-family: "Inter", sans-serif;
    z-index: -1;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 60px;
    padding-top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay h1 {
    font-size: 2.1875rem;
    font-family: "Montaga", serif;
    font-weight: 400;
    margin: 0;
}

.overlay .arrow {
    font-size: 3.125rem;
    margin-top: 15px;
}

.logo{
    font-size: 3.125rem;
    font-weight: 400;
    font-family: cursive;
    margin: 0px 20px;
}

.logo2 {
    display: none;
}

.hamburger{
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    z-index: 1100;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: white;
    transition: all 0.3s ease;
    border-radius: 2px;
}

.hamburger.icon-x div:nth-child(1) {
  transform: rotate(45deg) translate(5px, 3px);
}

.hamburger.icon-x div:nth-child(2) {
  opacity: 0;
}

.hamburger.icon-x div:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -4px);
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 12px 40px;
    z-index: 999;
}

.hidden-navbar {
    width: 100vw;
    color: white;
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: relative;
    z-index: 1000;
}

.nav-slide {
    display: none;
    gap: 2rem;
}

.nav-slide a {
    color: white;
    text-decoration: none;
    margin-left: 8px;
    font-weight: 500;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
    position: relative;
}

.nav-links li {
    position: relative;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 0.9375rem;
    margin-top: 5px;
    padding: 8px;
    display: block;
    transition: all 0.3s ease;
}

/* ==== Dropdown Styling ==== */
.dropdown, .submenu{
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
    position: absolute;
    background: white;
    z-index: 1000;
}

.main-menu:hover .dropdown,
.menu:hover .submenu{
    opacity: 1;
    visibility: visible;
}

.main-menu, .menu{
    position: relative;
}

.dropdown {
    position: absolute;
    top: 150%;
    left: 0;
    background-color: white;
    min-width: 180px;
    padding: 5px 0;
    list-style: none;
    transition: 1s ease;
}

.dropdown li {
    width: 100%;
}

.dropdown li a {
    color: #000;
    margin-left: 5px;
    padding: 4px 10px;
    font-size: 0.75rem;
    display: block;
}

.main-menu:hover .dropdown{
    top: 100%;
}

.submenu{
    position: absolute;
    top: 50%;
    left: 90%;
    transition: 0.55s;
    width: 100px;
    background-color: white;
    min-width: 180px;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.15);
    padding: 5px 0;
    list-style: none;
    transition: 0.6s ease;
}

.menu:hover .submenu{
    top: 0%;
}

.dropdown li a:hover,
.submenu li a:hover {
    padding-left: 15%;
    transition: 0.3s ease;
}

.dropdown li a:hover {
    background-color: white;
    border-left: 3px solid orange;
    color: orange;
}

.nav-links li{
    padding-bottom: 10px;
}

.nav-links a.active {
    color: orange;
    border-left: 3px solid orange;
    padding-left: 17px;
}

/* Cake-cards Stylings  */
.cake-cards{
    margin: 0px auto;
    width: 90%;
    background-color: white;
    margin-top: -170px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    gap: 50px;
    justify-items: center;
    text-align: center;
    padding: 25px;
    z-index: 1;
}

.cake{
    background-color: white;
    width: 25vw;
}

.cake-cards .name{
    font-family: "Montaga", serif;
    font-size: 1.875rem;
    margin-top: 20px;
    padding-bottom: 25px;
}

.cake-cards .description{
    font-size: 0.875rem;
    line-height: 1.7;
    padding: 10px;
    opacity: 0.8;
}

.cake-cards .button{
    width: 100%;
    margin-top: 20px;
    padding: 20px 0px;
    font-size: 1rem;
    color: white;
    border: none;
    transition: 0.3s ease;
}

.cake-card1 .button{
    background: rgb(73, 17, 17);
}

.cake-card2 .button{
    background: rgb(128, 25, 25);
}

.cake-card3 .button{
    background: rgb(104, 68, 17);
}

.button:hover{
    background: rgb(44, 42, 42);
    cursor: pointer;
}

.img{
    overflow: hidden;
}

img{
    margin-bottom: -5px;
    transition: all 0.4s ease;
}

.cake:hover img{
    transform: scale(1.1);
}

.container2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 100px 0px;
    padding-left: 50px;
    z-index: 1;
}

.container2 .left-column h3 {
    color: darkred;
    font-weight: 700;
    margin-bottom: 10px;
}

.container2 .left-column h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    font-weight: 400;
    font-family: "Montaga", serif;
}

.container2 .left-column .desc{
    color: black;
    font-family: "Montaga", serif;
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.container2 .left-column p span {
    color: darkred;
    font-size: 0.95rem;
}

.container2 .left-column p {
    margin-bottom: 50px;
    color: gray;
    line-height: 1.6;
    font-size: 1rem;
}

.container2 .left-column button {
    padding: 20px 35px;
    font-size: 1rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 35px;
    cursor: pointer;
    transition: 0.4s ease;
}

.container2 .left-column button:hover{
    background-color: rgb(33, 32, 32);
    color: white;
    border: none;
}

.container2 .right-column{
    overflow: hidden;
}

.container2 .right-column .image {
    position: relative;
    background: url(https://baker.la-studioweb.com/wp-content/uploads/2021/08/m2-bg6.jpg)no-repeat;
    width: 100%;
    height: 90vh;
    transform: scale(1.1);
    background-position: -30px 0px;
    background-size: cover;
    transition: 0.4s ease;
}

.container2 .right-column .image:hover{
    background: linear-gradient(rgba(0,0,0,0.3)), url(https://baker.la-studioweb.com/wp-content/uploads/2021/08/m2-bg6.jpg)no-repeat;
    background-position: 0px 0px;
    background-size: cover;
}

.container2 .arrow {
    position: absolute;
    bottom: 45px;
    left: 260px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 15px;
    font-size: 20px;
    transition: 0.3s;
    cursor: pointer;
}

.stats-section {
    background-color: rgb(236, 238, 237);
    width: 99vw;
    padding: 5rem 13.75rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    align-items: center;
    text-align: center;
}

.stat {
    color: rgb(122, 12, 12);
}

.pre-stat{
    display: flex;
    justify-content: center;
}

.stat h1 {
    font-size: 4.8rem;
    font-weight: 400;
    margin-bottom: 10px;
    font-family: "Montaga", serif;
}

.stat span {
    font-size: 4.8rem;
    font-weight: 400;
    margin-bottom: 10px;
    font-family: "Montaga", serif;
}

.stat p {
    font-size: 1.1rem;
    color: rgb(37, 37, 37);
    font-weight: 700;
    letter-spacing: 1px;
}

.container3 {
    padding: 6.25rem 3.5rem;
    z-index: 1;
}

.container3 h4,h2{
    text-align: center;
    padding: 5px;
    color: rgb(157, 15, 15);
}

.container3 h2{
    font-family: "Montaga", serif;
    font-size: 40px;
    font-weight: lighter;
    padding-bottom: 50px;
    color: black;
}

.container3 span{
    display: block;
    text-align: center;
    margin: 65px auto 0 auto;
    font-size: 16px;
    text-decoration: underline;
    transition: 0.5s ease;
}

.container3 span:hover{
    color: rgb(157, 15, 15);
    cursor: pointer;
}

.cards{
    margin: 0px auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, minmax(176px, 1fr));
    gap: 5rem;
    justify-items: center;
}

.item{
    width: 25vw;
    text-align: center;
}

.item img{
    height: 270px;
    object-fit: cover;
    padding: 40px;
}

.icon{
    display: inline-block;
    padding: 11px;
    margin: 8px 5px;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 0.875rem;
    background: rgb(236, 238, 237);
    transform: translate(0px, -80px);
    transition: 0.4s ease;
    opacity: 0;
    z-index: 10;
}

.cards h4{
    margin-top: -40px;
    padding: 5px;
    font-size: 14px;
}

.cards p{
    padding: 5px;
    padding-bottom: 35px;
}

.item:hover{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.icon:hover{
    background-color: rgb(83, 53, 29);
    color: white;
}

.item:hover .icon
{
    transform: translate(0px, -175px);
    opacity: 1;
}

.container4 {
    background-color: rgb(236, 238, 237);
    text-align: center;
    padding: 20px;
    position: relative;
    z-index: 1;
}

.container4 .quote-icon {
    font-size: 5rem;
    color: gray;
}

.container4 .quote-text {
    font-size: 1.375rem;
    color: #555;
    max-width: 600px;
    margin: 0 auto 30px auto;
    opacity: 0.8;
    line-height: 2;
}

.container4 .profile-img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.container4 .dots {
    margin-top: 30px;
}

.container4 .dots span {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 6px;
    background-color: rgb(208, 205, 205);
    border-radius: 50%;
}

.container4 .dots .active {
    background-color: gray;
}

.container5 {
    padding: 100px 20px;
    z-index: 1;
}

.container5 h4,h2{
    text-align: center;
    padding: 5px;
    color: rgb(157, 15, 15);
}

.container5 h2{
    font-family: "Montaga", serif;
    font-size: 2.5rem;
    font-weight: lighter;
    padding-bottom: 70px;
    color: black;
}

.blog-cards{
    width: 90%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32.5rem, 1fr));
    gap: 50px;
    justify-content: center;
}

.blogs{
    width: 38vw;
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: space-around;
    background-color: rgb(250, 250, 250);
}

.blogs .left-column,.blogs .right-column{
    width: 19vw;
}

.blogs .right-column{
    padding: 20px;
    padding-left: 20px;
}

.blogs .right-column .date{
    font-size: 0.875rem;
    margin-bottom: 15px;
    color: rgb(157, 15, 15);
}

.blogs .right-column .name{
    font-family: "Montaga", serif;
    font-size: 1.375rem;
    margin-bottom: 15px;
    transition: 0.5s ease;
}

.blogs .right-column .desc{
    font-size: 0.84375rem;
    line-height: 1.7;
    opacity: 0.6;
    margin-bottom: 25px;
}

.blogs .right-column .button{
    color: black;
    background-color: rgb(245, 245, 245);
    border-radius: 20px;
    border: 1px solid lightgray;
    font-size: 0.75rem;
    padding: 12px 20px;
    margin-bottom: 10px;
    transition: 0.3s ease;
}

.blogs .right-column .button:hover{
    background-color: rgb(33, 32, 32);
    color: white;
    border: none;
}

.blogs .right-column .name:hover{
    color: rgb(157, 15, 15);
    cursor: pointer;
}

.container5 .span{
    margin-top: 65px;
    text-align: center;
    font-size: 1rem;
    text-decoration: underline;
    transition: 0.5s ease;
}

.container5 .span:hover{
    color: rgb(157, 15, 15);
    cursor: pointer;
}

.image{
    height: 100%;
    overflow: hidden;
}

.blogs:hover img{
    transform: scale(1.05);
    cursor: pointer;
}

.container6{
    padding: 100px 20px;
    background-color: rgb(236, 238, 237);
    z-index: 1;
}

.container6 h4,h2{
    text-align: center;
    padding: 5px;
    color: rgb(157, 15, 15);
}

.container6 h2{
    font-family: "Montaga", serif;
    font-size: 2.5rem;
    font-weight: lighter;
    padding-bottom: 70px;
    color: black;
}

.offer-cards{
    margin: 0px auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(176px, 1fr));
    gap: 50px;
    justify-content: center;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
    min-height: 69vh;
    height: auto;
    width: 26vw;
    overflow: hidden;
    position: relative;
    transition: 0.4s ease;
}

.offer-name {
    background: #6b0000;
    color: #fff;
    font-size: 1.875rem;
    padding: 20px;
    font-family: "Montaga", serif;
    clip-path: polygon(0 0, 75% 0, 65% 50%, 75% 100%, 0% 100%);
}

.offer-name .small{
    font-size: 0.6875rem;
}

.card.member .offer-name {
    background: #a50d0d;
}

.card.premium .offer-name {
    background: #8b4c00;
}

.card:hover{
    transform: translateY(-15px);
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.2);
}

.card ul {
    padding: 20px;
    list-style: disc;
    list-style-position: inside;
    color: #555;
    line-height: 2;
    min-height: 30vh;
    font-size: 0.9375rem;
    opacity: 0.8;
}

.card ul li{
    margin-bottom: 10px;
    text-align: justify;
}

.price {
    background: #6b0000;
    color: #fff;
    font-size: 1.5rem;
    padding: 20px;
    text-align: left;
    position: relative;
    margin-top: auto;
}

.card.member .price {
    background: #a50d0d;
}

.card.premium .price {
    background: #8b4c00;
}

.price span {
    font-size: 1.875rem;
    font-family: "Montaga", serif;
}

.price span sup{
    font-size: 0.9375rem;
    margin-left: 5px;
    font-family: "Montaga", serif;
}

.price .arrow {
    position: absolute;
    right: 20px;
    bottom: 25px;
    font-size: 1.375rem;
}

.price .arrow:hover{
    cursor: pointer;
}

.footer {
    background: white;
    padding: 20px 150px;
    padding-top: 80px;
    border-top: 1px solid rgb(221, 221, 221);
    font-family: 'Inter', sans-serif;
    color: rgb(34, 34, 34);
}

.footer-top {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(176px, 1fr));
    gap: 30px;
    margin-bottom: 30px;
}

.footer-column {
    width: 25vw;
}

.footer-column h3 {
    font-size: 1.125rem;
    font-weight: 400;
    margin-bottom: 20px;
    color: rgb(34, 34, 34);
}

.footer-column ul {
    list-style: none;
}

.footer-column ul li {
    margin-bottom: 15px;
}

.footer-column ul li a {
    font-size: 0.9375rem;
    opacity: 0.9;  
    text-decoration: none;
    color: rgb(68, 68, 68);
    transition: 0.1s;
}

.footer-column ul li a:hover {
    color: black;
}

.newsletter form {
    display: flex;
    max-width: 27.5vw;
}

.newsletter input[type="email"] {
    padding: 15px;
    font-size: 0.875rem;
    width: 27.5vw;
    border: 1px solid rgb(204, 204, 204);
    outline: none;
}

.newsletter button {
    padding: 8px 26px;
    background: rgb(17, 17, 17);
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s ease;
}

.newsletter button:hover{
    background-color: rgb(228, 183, 125);
}

.footer-bottom {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    align-items: center;
    border-top: 1px solid rgb(221, 221, 221);
    padding: 20px;
    font-size: 12px;
}

.footer-bottom p {
    opacity: 0.8;
}

.footer-bottom a{
    color: black;
    opacity: 1;
}

.payment-icons img {
    height: 20px;
    margin-left: 20px;
}

.floating-buttons {
    position: fixed;
    bottom: 50px;
    right: 40px;
    z-index: 1000;
}

.floating-icon i {
    display: block;
    padding: 12px 8px;
    transition: 0.4s;
}

.floating-icon {
    background-color: white;
    color: black;
    padding: 12px;
    border-radius: 50px;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.25);
    font-size: 1.125rem;
    cursor: pointer;
    text-align: center;
    transition: 0.3s ease;
}

#i1:hover{
    color: rgb(228, 183, 125);
}
#i2:hover{
    color: rgb(228, 183, 125);
}
#i3:hover{
    color: rgb(228, 183, 125);
}

@media (max-width:1276px) {
    html {
        font-size: 0.9rem;
    }

    .bg-img {
        height: 70vh;
    }

    .container2 {
        padding: 50px 0px 20px 20px ;
    }

    .container2 .right-column .image {
        height: 70vh;
    }

    .stats-section {
        width: 98vw;
        margin-top: 3rem;
        padding: 3.5rem 10rem;
        font-size: 2rem;
    }

    .pre-stat h1, .pre-stat span {
        font-size: 4.2rem;
    }

    .container5 {
        padding: 100px 10px;
    }

    .blog-cards {
        grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
        gap: 25px;
    }

    .blogs .right-column .desc {
        display: none;
    }

    .right-column .name {
        font-size: 1.2rem;
    }

    .right-column .button {
        margin-top: 1rem;
    }

    .floating-buttons {
        display: none;
    }
}

@media (max-width:1076px) {
    .nav-links a {
        font-size: 0.9rem;
        padding: 5px;
    }

    .cake-cards {
        width: 100%;
    }
    
    .stats-section {
        padding: 3.5rem 5rem;
    }

    .pre-stat h1, .pre-stat span {
        font-size: 3.8rem;
    }

    .container3 {
        padding: 6.25rem 0.8rem;
    }

    .item img {
        padding: 20px;
        height: 220px;
    }

    .icon {
        padding: 8px;
        height: 1.8rem;
        width: 1.8rem;
        font-size: 0.7rem;
    }

    .item:hover .icon {
        transform: translate(0px, -120px);
    }

    .container5 {
        padding: 70px 0px;
    }

    .blog-cards {
        grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
        gap: 25px;
    }

    .blogs .right-column .date {
        font-size: 0.6rem;
    }

    .blogs .right-column .name {
        font-size: 0.9rem;
    }

    .blogs .right-column .button {
        font-size: 0.6rem;
        padding: 9px 15px;
        margin-top: 0px;
        margin-bottom: -6px;
    }

    .card {
        min-height: 25vh;
    }

    .card ul {
        font-size: 0.9rem;
        line-height: 1.7;
    }

    .footer {
        padding: 20px 50px;
    }

    .footer-top {
        padding: 30px 0px;
        margin: 0px auto;
        justify-content: center;
        gap: 30px;
    }

    .newsletter input[type="email"] {
        width: 20vw;
    }

}

@media (max-width:764px) {
    .overlay h1 {
        font-size: 1.5rem;
    }

    .overlay .arrow {
        font-size: 3rem;
    }

    .nav-links {
        display: none;
    }

    .logo1 {
        display: none;
    }

    .logo2 {
        display: block;
    }

    .hidden-navbar {
        display: flex;
    }

    .nav-slide {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 115px;
        left: 0;
        height: 100dvh;
        width: 300px;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 4rem 2rem;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
    }

    .nav-slide.menu-open {
        transform: translateX(0);
    }

    .hamburger, .shop {
        display: flex;
        font-size: 1.5rem;
    }

    .navbar {
        padding-left: 5px;
        padding-right: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .cake-cards {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }

    .cake {
        width: 90vw;
    }

    .container2 {
        grid-template-columns: 1fr;
    }

    .container2 .left-column button {
        padding: 18px 30px;
        margin-bottom: 25px;
    } 

    .container2 .right-column .image {
        width: 98%;
        height: 50vh;
    }

    .stats-section {
        width: 100vw;
        grid-template-columns: repeat(1, 1fr);
    }

    .stat {
        padding: 0.5rem 0rem;
    }

    .cards {
        grid-template-columns: repeat(1, minmax(100%, 1fr));
    }

    .item {
        width: 60vw;
    }

    .blog-cards {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }

    .blogs {
        width: 90vw;
        display: block;
    }

    .blogs .left-column, .blogs .right-column {
        width: 90vw;
    }

    .offer-cards {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }

    .card {
        width: 85vw;
    }

    .newsletter input[type="email"] {
        width: 100vw;
    }

    .payment-icons img {
        height: 15px;
        margin-left: 15px;
    }

}




